@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');


/* First Group */
.container-header{
    width: auto;
    height: 50px;
    padding: 10px 2em 10px 0;
    font-size: 20px;
    text-align: end;
    user-select: none;
    background-color: #D9D9D9;
}

.container-header img{
    position: relative;
    float: left;
    height: inherit;
    top: -10px;
    pointer-events: none;
}

.header-slogan{
    float: left;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
}

.header-links, li{
    display: inline;
    word-spacing: 20px;
    font-family: 'Nunito', sans-serif;
}
/* Secong Group */
.container-content{
    width: auto;
    min-height: 670px;
    background-image: url("../img/bg__lead.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.container-work{
    width: auto;
    min-height: 200px;
}

@media screen and (max-width: 990px) {
    .container-content{
        width: auto;
        min-height: 370px;
        background-image: url("../img/bg__lead.jpg");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
    }
}